.crx-class {
  color: pink;
}

.blur-all-media {
  // Blur all images, or elements with background-image or background with url

  img, [style*="background-image"], [style*="background"] {
    filter: blur(20px) grayscale(100%) !important;
  }

  // Disable if it's hover
  img:hover, [style*="background-image"], [style*="background"]:hover {
      filter: blur(0px)!important;
  }
}
